In [92]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

In [5]:
df = pd.read_csv("btc_returns.csv", parse_dates=[0])

In [6]:
df.head()

,Date,Returns,0:00,1:00,2:00,3:00,4:00,5:00,6:00,7:00,...,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,2015-10-10,0.91,-0.35,0.00,0.00,0.00,0.00,0.0,0.00,0.0,...,0.0,0.00,0.00,-0.30,0.00,0.36,5.91,-4.58,0.00,0.00
1,2015-10-11,3.20,0.00,0.15,-0.03,0.00,-0.06,0.0,0.00,0.0,...,0.0,0.19,0.00,0.00,0.00,0.00,0.00,0.38,0.00,0.55
2,2015-10-12,-1.90,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,...,0.0,0.00,0.20,1.74,0.00,0.00,0.00,-0.47,0.47,1.26
3,2015-10-13,2.40,-0.50,0.00,0.00,-0.02,-0.27,0.0,0.00,0.0,...,0.0,0.00,0.29,-0.29,0.00,-0.02,0.00,0.00,0.00,0.00
4,2015-10-14,3.00,-0.36,-0.14,-1.35,0.00,0.00,0.0,0.65,1.6,...,-0.1,-0.55,-0.52,-0.28,-0.08,0.43,0.00,0.00,-0.35,0.42

In [7]:
df.dtypes

Date       datetime64[ns]
Returns           float64
0:00              float64
1:00              float64
2:00              float64
3:00              float64
4:00              float64
5:00              float64
6:00              float64
7:00              float64
8:00              float64
9:00              float64
10:00             float64
11:00             float64
12:00             float64
13:00             float64
14:00             float64
15:00             float64
16:00             float64
17:00             float64
18:00             float64
19:00             float64
20:00             float64
21:00             float64
22:00             float64
23:00             float64
dtype: object

In [9]:
df.shape

(1643, 26)

In [10]:
df["Buy/Sell"] = df["Returns"] > 0
df.head()

,Date,Returns,0:00,1:00,2:00,3:00,4:00,5:00,6:00,7:00,...,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,Buy/Sell
0,2015-10-10,0.91,-0.35,0.00,0.00,0.00,0.00,0.0,0.00,0.0,...,0.00,0.00,-0.30,0.00,0.36,5.91,-4.58,0.00,0.00,True
1,2015-10-11,3.20,0.00,0.15,-0.03,0.00,-0.06,0.0,0.00,0.0,...,0.19,0.00,0.00,0.00,0.00,0.00,0.38,0.00,0.55,True
2,2015-10-12,-1.90,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,...,0.00,0.20,1.74,0.00,0.00,0.00,-0.47,0.47,1.26,False
3,2015-10-13,2.40,-0.50,0.00,0.00,-0.02,-0.27,0.0,0.00,0.0,...,0.00,0.29,-0.29,0.00,-0.02,0.00,0.00,0.00,0.00,True
4,2015-10-14,3.00,-0.36,-0.14,-1.35,0.00,0.00,0.0,0.65,1.6,...,-0.55,-0.52,-0.28,-0.08,0.43,0.00,0.00,-0.35,0.42,True

In [11]:
df.tail()

,Date,Returns,0:00,1:00,2:00,3:00,4:00,5:00,6:00,7:00,...,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,Buy/Sell
1638,2020-04-04,129.32,-64.45,68.45,1.86,-19.46,-2.82,-5.42,23.57,134.25,...,-63.61,36.88,-37.36,28.66,26.58,-78.16,35.80,41.42,-34.77,True
1639,2020-04-05,-94.99,11.69,10.36,-72.93,12.98,20.50,12.75,2.17,1.95,...,15.63,59.19,-10.91,4.11,-32.65,73.80,41.88,-19.79,15.97,False
1640,2020-04-06,561.75,2.79,-13.55,-3.15,-53.76,-22.31,15.25,-21.27,3.23,...,16.54,-5.76,15.80,-1.21,1.41,-42.20,4.47,36.78,-25.65,True
1641,2020-04-07,-135.15,100.83,-29.87,-15.13,17.90,99.39,56.55,85.03,-50.89,...,42.66,4.89,65.89,30.59,22.84,-46.54,64.50,-19.71,61.22,False
1642,2020-04-08,167.79,39.51,-23.69,-34.70,11.60,-81.66,36.31,27.59,77.81,...,44.50,45.27,-14.99,-49.58,-16.24,-169.16,54.92,-11.99,31.80,True

In [33]:
df_train = df[0:int(len(df)*0.8)]
df_test = df[int(len(df)*0.8):]
df_train = df_train.dropna()
df_test = df_test.dropna()
df_train.tail()

,Date,Returns,0:00,1:00,2:00,3:00,4:00,5:00,6:00,7:00,...,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,Buy/Sell
1309,2019-05-11,849.74,-29.85,60.66,48.51,55.82,17.68,-22.03,10.40,36.73,...,61.34,63.03,28.74,-6.62,-23.98,-79.14,41.35,53.47,-11.16,True
1310,2019-05-12,-251.50,1.37,106.52,36.47,31.90,145.34,8.06,104.52,-14.60,...,152.70,-10.02,51.49,-29.49,-5.62,17.42,109.55,164.38,-13.63,False
1311,2019-05-13,846.42,-153.77,122.33,-31.30,-11.96,49.73,128.13,70.09,119.00,...,-103.31,-31.82,86.09,164.40,-69.74,96.80,43.08,-159.86,-14.76,True
1312,2019-05-14,172.81,41.96,12.80,10.81,-32.39,77.38,-42.59,30.92,-48.68,...,325.92,77.73,-81.40,33.27,40.35,-31.90,226.97,-167.96,-109.80,True
1313,2019-05-15,202.99,90.51,84.51,-81.90,57.42,59.92,-31.44,58.80,260.51,...,-119.56,70.82,50.92,-242.86,-43.57,-49.79,56.09,134.73,80.96,True

In [34]:
df_test.head()

,Date,Returns,0:00,1:00,2:00,3:00,4:00,5:00,6:00,7:00,...,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,Buy/Sell
1314,2019-05-16,-317.09,31.97,-11.24,55.88,-14.97,-58.25,27.59,-20.54,-95.66,...,78.59,-0.56,92.28,117.36,-25.99,-38.03,-19.86,51.28,0.67,False
1315,2019-05-17,-519.46,137.07,-14.55,-0.98,-72.67,-263.66,10.47,132.19,-115.62,...,70.98,-102.46,-2.00,-11.98,-69.42,-172.74,260.64,-105.51,60.63,False
1316,2019-05-18,-99.40,7.34,-71.51,-338.24,-183.50,-61.47,-96.86,34.63,103.35,...,-59.54,10.00,-40.66,42.90,43.15,-35.38,148.70,-22.71,125.92,False
1317,2019-05-19,929.92,-65.21,-21.90,27.23,86.89,31.60,21.89,-60.02,-57.24,...,0.51,-2.29,-63.96,-20.36,-28.13,58.31,38.82,-40.31,-37.69,True
1318,2019-05-20,-188.47,44.78,304.18,114.21,223.51,36.20,-44.06,-4.08,33.57,...,38.53,-56.71,49.51,2.15,-33.51,73.63,61.64,127.16,-27.95,False

In [35]:
df_train.shape

(1314, 27)

In [36]:
df_test.shape

(326, 27)

In [118]:
X_train = df_train.loc[:, "0:00":"23:00"]
X_train.head()

,0:00,1:00,2:00,3:00,4:00,5:00,6:00,7:00,8:00,9:00,...,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,-0.35,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.0,0.00,0.00,-0.30,0.00,0.36,5.91,-4.58,0.00,0.00
1,0.00,0.15,-0.03,0.00,-0.06,0.0,0.00,0.0,0.0,0.0,...,0.0,0.19,0.00,0.00,0.00,0.00,0.00,0.38,0.00,0.55
2,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.0,0.00,0.20,1.74,0.00,0.00,0.00,-0.47,0.47,1.26
3,-0.50,0.00,0.00,-0.02,-0.27,0.0,0.00,0.0,0.0,0.0,...,0.0,0.00,0.29,-0.29,0.00,-0.02,0.00,0.00,0.00,0.00
4,-0.36,-0.14,-1.35,0.00,0.00,0.0,0.65,1.6,0.3,0.0,...,-0.1,-0.55,-0.52,-0.28,-0.08,0.43,0.00,0.00,-0.35,0.42

In [119]:
y_train = df_train["Buy/Sell"]
y_train.head()

0     True
1     True
2    False
3     True
4     True
Name: Buy/Sell, dtype: bool

In [120]:
X_test = df_test.loc[:, "0:00":"23:00"]
y_test = df_test["Buy/Sell"]

In [130]:
clf = RandomForestClassifier(n_estimators=200, max_depth=10)

In [167]:
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, n_estimators=200)

In [168]:
y_pred = clf.predict(X_test)

In [169]:
from sklearn import metrics

In [170]:
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.5122699386503068

In [174]:
y_pred

array([ True,  True, False, False,  True,  True, False,  True,  True,
       False, False,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True, False, False,  True, False, False,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True, False, False,  True, False,  True, False, False,
        True, False,  True,  True,  True, False, False,  True,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True, False,  True, False, False, False,  True,
        True,  True, False,  True, False,  True, False,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False,  True, False,
        True,  True,  True,  True, False,  True, False,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
       False, False,  True, False, False,  True,  True,  True, False,
        True,  True,  True, False,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True, False,  True,  True,  True, False,
        True, False,  True, False, False,  True, False,  True,  True,
        True,  True, False,  True, False,  True, False,  True,  True,
        True,  True,  True,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False, False,  True,  True,  True, False,  True,  True,  True,
        True,  True])

In [172]:
y_test

1314    False
1315    False
1316    False
1317     True
1318    False
        ...
1638     True
1639    False
1640     True
1641    False
1642     True
Name: Buy/Sell, Length: 326, dtype: bool